# Rust 编译产物
target/

# npm
node_modules/

# 构建产物
dist/
dist2/
dist3/
dist4/
dist5/

# 安装包输出
Download-package/

# 预编译工具
mutool/*.exe

# Vite 临时文件
vite.config.ts.timestamp-*

# 系统文件
.DS_Store
Thumbs.db
*.log
.vite/

/src/
/src-tauri/

/src/
/src-tauri/
