# Rust 编译产物
target/

# npm依赖
node_modules/

# 构建产物
dist/
dist2/
dist3/
dist4/
dist5/

# 字体包（不上传 GitHub 节省流量）
WordsType/to_install/

# 安装包
Download-package/

# 预编译工具
mutool/*.exe

# Vite 临时
vite.config.ts.timestamp-*

# 系统文件
.DS_Store
Thumbs.db
*.log
.vite/
W o r d s T y p e / * . z i p 
 
 W o r d s T y p e / * . z i p 
 
 W o r d s T y p e / * . z i p 
 
 